<div class="row">
  <div class="col-12 col-lg-12 col-md-12">
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Example textarea</label
      >
      <textarea
        [(ngModel)]="data.data"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
  </div>
  <div class="col-12 col-lg-12 col-md-12 text-end">
    <button class="btn btn-primary" (click)="decode()">decode</button>
  </div>
  <div class="col-12 col-lg-12 col-md-12">
    <pre
      >{{ data.decode | json }}
    </pre>
  </div>
</div>
