<div
  class="modal fade"
  id="index-dtl-popup"
  tabindex="-1"
  aria-labelledby="index-dtl-popup-lbl"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg">
        <h1 class="modal-title fs-5" id="index-dtl-popup-lbl">
          {{ selected?.meta?.companyName || "" }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body b10">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-4" *ngFor="let i of selected_col">
            <div class="row g-0">
              <div class="col-6 fw-semibold text-end">{{ i.value }}:</div>
              <div class="col-6">{{ getD(i.key, selected) }}</div>
            </div>
          </div>
        </div>
      </div>
      <table>
        <tr>
          <td class="text-center">Today</td>
          <td class="text-center">30D</td>
          <td class="text-center">360D</td>
        </tr>
        <tr>
          <td class="text-center">
            <ul style="list-style-type: none">
              <li>{{ selected.lastUpdateTime }}</li>
              <li><img [src]="selected.chartTodayPath" alt="" /></li>
            </ul>
          </td>
          <td class="text-center">
            <ul style="list-style-type: none">
              <li>{{ selected.date30dAgo }}</li>
              <li><img [src]="selected.chart30dPath" alt="" /></li>
            </ul>
          </td>
          <td class="text-center">
            <ul style="list-style-type: none">
              <li>{{ selected.date365dAgo }}</li>
              <li><img [src]="selected.chart365dPath" alt="" /></li>
            </ul>
          </td>
        </tr>
      </table>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
