<div class="row">
  <div class="col-12 col-md-2 col-lg-2 mt-1">
    <select
      class="form-select form-select-sm"
      aria-label="Default select example"
      [(ngModel)]="map2_qr.type"
    >
      <option value="NIFTY">NIFTY</option>
      <option value="BANKNIFTY">BANKNIFTY</option>
    </select>
  </div>
  <div class="col-12 col-md-2 col-lg-2 mt-1">
    <input
      type="date"
      class="form-control form-control-sm"
      [(ngModel)]="map2_qr.date"
    />
    <!-- {{ map2_qr.date }} -->
  </div>
  <div class="col-12 col-md-2 col-lg-2 mt-1">
    <select
      [(ngModel)]="map2_qr.time"
      aria-label="Default select example"
      class="form-select form-select-sm"
    >
      <option>--Select--</option>
      <option *ngFor="let i of time" [ngValue]="i.value">{{ i.key }}</option>
    </select>
  </div>
  <div class="col-12 col-md-2 col-lg-2 mt-1">
    <button class="btn btn-primary btn-sm" (click)="search(map2_qr)">
      search
    </button>
  </div>
  <div class="col-12 col-md-12 col-lg-12 mt-1" *ngIf="tbl_ob | async as tbl">
    <table class="table table-sm">
      <thead style="position: sticky; top: 0">
        <tr>
          <th colspan="6" class="bg-secondary text-white text-center">CALL</th>
          <th>*</th>
          <th colspan="6" class="bg-secondary text-white text-center">PUT</th>
        </tr>
        <tr>
          <th class="bg-secondary text-white text-end">OI</th>
          <th class="bg-secondary text-white text-end">CHNG IN OI</th>
          <th class="bg-secondary text-white text-end">VOLUME</th>
          <th class="bg-secondary text-white text-end">IV</th>
          <th class="bg-secondary text-white text-end">LTP</th>
          <th class="bg-secondary text-white text-end">CHNG</th>
          <th class="bg-secondary text-white text-center">STRIKE</th>
          <th class="bg-secondary text-white text-end">CHNG</th>
          <th class="bg-secondary text-white text-end">LTP</th>
          <th class="bg-secondary text-white text-end">IV</th>
          <th class="bg-secondary text-white text-end">VOLUME</th>
          <th class="bg-secondary text-white text-end">CHNG IN OI</th>
          <th class="bg-secondary text-white text-end">OI</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of ob(tbl)[0].filtered.data">
          <td
            class="text-end"
            [class]="{
              'bg-warning-subtle': i.atm != true && i.ce_itm > 0,
              'bg-primary': i.atm == true
            }"
          >
            {{ i.CE.openInterest || "" }}
          </td>
          <td
            class="text-end"
            [class]="{
              'bg-warning-subtle': i.atm != true && i.ce_itm > 0,
              'bg-primary': i.atm == true
            }"
          >
            {{ i.CE.changeinOpenInterest || "" }}
          </td>
          <td
            class="text-end"
            [class]="{
              'bg-warning-subtle': i.atm != true && i.ce_itm > 0,
              'bg-primary': i.atm == true
            }"
          >
            {{ i.CE.totalTradedVolume || "" }}
          </td>
          <td
            class="text-end"
            [class]="{
              'bg-warning-subtle': i.atm != true && i.ce_itm > 0,
              'bg-primary': i.atm == true
            }"
          >
            {{ i.CE.impliedVolatility || "" }}
          </td>
          <td
            class="text-end"
            [class]="{
              'bg-warning-subtle': i.atm != true && i.ce_itm > 0,
              'bg-primary': i.atm == true
            }"
          >
            {{ i.CE.lastPrice }}
          </td>
          <td
            class="text-end"
            [class]="{
              'bg-warning-subtle': i.atm != true && i.ce_itm > 0,
              'bg-primary': i.atm == true
            }"
          >
            {{ number_toFixed(i.CE.pChange, 2) || "" }}
          </td>
          <td class="bg-primary text-center">
            {{ i.strikePrice }}
          </td>
          <td
            class="text-end"
            [class]="{
              'bg-warning-subtle': i.atm != true && i.pe_itm > 0,
              'bg-primary': i.atm == true
            }"
          >
            {{ number_toFixed(i.PE.pChange, 2) || "" }}
          </td>
          <td
            class="text-end"
            [class]="{
              'bg-warning-subtle': i.atm != true && i.pe_itm > 0,
              'bg-primary': i.atm == true
            }"
          >
            {{ i.PE.lastPrice || "" }}
          </td>
          <td
            class="text-end"
            [class]="{
              'bg-warning-subtle': i.atm != true && i.pe_itm > 0,
              'bg-primary': i.atm == true
            }"
          >
            {{ i.PE.impliedVolatility || "" }}
          </td>
          <td
            class="text-end"
            [class]="{
              'bg-warning-subtle': i.atm != true && i.pe_itm > 0,
              'bg-primary': i.atm == true
            }"
          >
            {{ i.PE.totalTradedVolume || "" }}
          </td>
          <td
            class="text-end"
            [class]="{
              'bg-warning-subtle': i.atm != true && i.pe_itm > 0,
              'bg-primary': i.atm == true
            }"
          >
            {{ i.PE.changeinOpenInterest || "" }}
          </td>
          <td
            class="text-end"
            [class]="{
              'bg-warning-subtle': i.atm != true && i.pe_itm > 0,
              'bg-primary': i.atm == true
            }"
          >
            {{ i.PE.openInterest || "" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
