<div *ngIf="sub | async as dtx"></div>
<div
  class="row"
  *ngIf="{
    _pgData: pgData | async,
    _pgcepe: pgcepe | async,
    _strike: strike | async
  } as _dbPage"
>
  <div class="col-12 col-md-2 col-lg-2 col-sm-12">
    <select
      class="form-select"
      aria-label="Default select example"
      (change)="typeChange(map2_qr)"
      [(ngModel)]="map2_qr.type"
    >
      <option value="">--Select--</option>
      <option *ngFor="let i of all_drop" [value]="i">{{ i }}</option>
    </select>
  </div>
  <div class="col-12 col-md-2 col-lg-2 col-sm-12">
    <input
      type="date"
      class="form-control"
      [(ngModel)]="map2_qr.date"
      (blur)="date_change(map2_qr)"
    />
    <!-- {{ map2_qr.date }} -->
  </div>
  <div
    class="col-12 col-md-2 col-lg-2 col-sm-12"
    *ngIf="_dbPage._pgcepe != null"
  >
    <select
      class="form-select"
      aria-label="Default select example"
      [(ngModel)]="map2_qr.strikePrice"
    >
      <option value="">--Select--</option>
      <!-- [0].filtered.data[0].CE.strikePrice -->
      <option
        *ngFor="let i of ob(_dbPage._pgcepe)[0].filtered.data"
        [ngValue]="i.PE.strikePrice"
      >
        {{ i.PE.strikePrice }}
      </option>
    </select>
  </div>
  <div class="col-12 col-md-2 col-lg-2 col-sm-12 text-end">
    <button type="button" class="btn btn-primary me-3" (click)="ngOnInit()">
      search
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="changeStrike(map2_qr)"
    >
      strike
    </button>
  </div>
  <div class="col-12" *ngIf="_dbPage._pgData != null">
    <div class="db_chart">
      <canvas id="acquisitions"></canvas>
    </div>
  </div>
  <div class="col-4">
    <button
      type="button"
      class="btn btn-primary me-2"
      (click)="sh = 'All'"
      id="all"
    >
      All
    </button>
    <button
      type="button"
      class="btn btn-primary me-2"
      (click)="sh = 'strike'"
      id="strike"
    >
      strike
    </button>
    <button
      type="button"
      class="btn btn-primary me-2"
      (click)="sh = 'stat'"
      id="stat"
    >
      stat
    </button>
  </div>
  <div class="col-4"></div>
  <div class="col-4">
    <button type="button" class="btn btn-primary me-2" (click)="pre_next('p')">
      <<
    </button>
    <button type="button" class="btn btn-primary" (click)="pre_next('n')">
      >>
    </button>
  </div>
  <div
    class="col-12"
    *ngIf="_dbPage._pgcepe != null"
    [class]="{ 'd-none': sh != 'All' }"
  >
    <table class="table">
      <thead>
        <tr>
          <td>
            <h5 class="me-4">
              <b> Time :-{{ formatTime(ob(_dbPage._pgcepe)[0].date) }}</b>
            </h5>
          </td>
          <td>
            <h5>
              <b
                >Underlying Value :-{{
                  ob(_dbPage._pgcepe)[0]?.filtered?.data[0]?.CE
                    ?.underlyingValue || "_____" | number
                }}</b
              >
            </h5>
          </td>
        </tr>
      </thead>
    </table>

    <div class="db_chart">
      <canvas id="acquisitions2"></canvas>
    </div>

    <div class="db_chart">
      <canvas id="acquisitions3"></canvas>
    </div>
    <div class="db_chart">
      <canvas id="acquisitions44"></canvas>
    </div>
    <div class="db_chart">
      <canvas id="acquisitions55"></canvas>
    </div>
    <div class="db_chart">
      <canvas id="acquisitions66"></canvas>
    </div>
  </div>
  <div
    class="col-12"
    *ngIf="_dbPage._strike != null"
    [class]="{ 'd-none': sh != 'strike' }"
  >
    <table class="table">
      <thead>
        <tr>
          <td>
            <h5 class="me-4">
              <b> Time :{{ formatTime(ob(_dbPage._pgcepe)[0].date) }}</b>
            </h5>
          </td>
          <td>
            <h5>
              <b
                >Underlying Value :{{
                  ob(_dbPage._pgcepe)[0]?.filtered?.data[0]?.CE
                    ?.underlyingValue || "_____" | number
                }}</b
              >
            </h5>
          </td>
          <td>
            <h5>
              strikePrice :<b>{{ map2_qr.strikePrice | number }}</b>
            </h5>
          </td>
        </tr>
      </thead>
    </table>
    <canvas id="acquisitions4"></canvas>
    <canvas id="acquisitions5"></canvas>
  </div>
  <div class="col-12" *ngIf="sh == 'stat'">
    <!-- <div *ngIf="option2 | async as op2">
      {{ op2 | json }}
    </div> -->
    <table class="table">
      <thead>
        <tr>
          <td>
            <h5 class="me-4">
              <b> Time :-{{ formatTime(ob(_dbPage._pgcepe)[0].date) }}</b>
            </h5>
          </td>
          <td>
            <h5>
              <b
                >Underlying Value :-{{
                  ob(_dbPage._pgcepe)[0]?.filtered?.data[0]?.CE
                    ?.underlyingValue || "_____" | number
                }}</b
              >
            </h5>
          </td>
        </tr>
      </thead>
    </table>
    <select
      #toTime
      (change)="change_toTime(toTime, map2_qr)"
      class="form-select form-select-sm"
      aria-label="Default select example"
    >
      <option selected>Open this select menu</option>
      <option [value]="i.date" *ngFor="let i of ob(_dbPage)._pgData">
        {{ date_to_time(i) }}
      </option>
    </select>

    <table class="table table-sm" *ngIf="option2 | async as op2">
      <ng-container *ngFor="let i of stat_data; let id = index">
        <tr class="bg-primary">
          <td>{{ i.name }}</td>
          <td>{{ i.view }}</td>
          <td>Lot</td>
          <td>Strike</td>
          <td>From Price</td>
          <td>To Price</td>
        </tr>
        <ng-container *ngFor="let ii of i.data">
          <tr>
            <td>{{ ii.buy_sell }}</td>
            <td>{{ ii.ce_pe }}</td>
            <td>{{ ii.lot }}</td>
            <td>{{ ob(_dbPage)._pgcepe[0].atm.strikePrice + ii.diff }}</td>
            <td>
              {{
                calPrice(
                  ob(_dbPage)._pgcepe[0].atm.strikePrice + ii.diff,
                  ii,
                  _dbPage
                )
              }}
            </td>
            <td>
              {{
                getPrice_from_option2(
                  ob(_dbPage)._pgcepe[0].atm.strikePrice + ii.diff,
                  ii,
                  op2
                )
              }}
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </table>
  </div>
</div>
