<div *ngIf="sub | async as dtx"></div>
<div
  class="row"
  *ngIf="{
    _pgData: pgData | async,
    _pgcepe: pgcepe | async,
    _strike: strike | async
  } as _dbPage"
>
  <div class="col-2">
    <select
      class="form-select"
      aria-label="Default select example"
      (change)="typeChange(map2_qr)"
      [(ngModel)]="map2_qr.type"
    >
      <option value="NIFTY">NIFTY</option>
      <option value="BANKNIFTY">BANKNIFTY</option>
    </select>
  </div>
  <div class="col-2">
    <input
      type="date"
      class="form-control"
      [(ngModel)]="map2_qr.date"
      (blur)="date_change(map2_qr)"
    />
    <!-- {{ map2_qr.date }} -->
  </div>
  <div class="col-2" *ngIf="_dbPage._pgcepe != null">
    <select
      class="form-select"
      aria-label="Default select example"
      [(ngModel)]="map2_qr.strikePrice"
    >
      <option value="">--Select--</option>
      <!-- [0].filtered.data[0].CE.strikePrice -->
      <option
        *ngFor="let i of ob(_dbPage._pgcepe)[0].filtered.data"
        [ngValue]="i.PE.strikePrice"
      >
        {{ i.PE.strikePrice }}
      </option>
    </select>
  </div>
  <div class="col-2">
    <button type="button" class="btn btn-primary me-3" (click)="ngOnInit()">
      search
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="changeStrike(map2_qr)"
    >
      strike
    </button>
  </div>
  <div class="col-12" *ngIf="_dbPage._pgData != null">
    <div class="db_chart">
      <canvas id="acquisitions"></canvas>
    </div>
  </div>
  <div class="col-4">
    <button
      type="button"
      class="btn btn-primary me-2"
      (click)="sh = 'All'"
      id="all"
    >
      All
    </button>
    <button
      type="button"
      class="btn btn-primary me-2"
      (click)="sh = 'strike'"
      id="strike"
    >
      strike
    </button>
  </div>
  <div class="col-4"></div>
  <div class="col-4">
    <button type="button" class="btn btn-primary me-2" (click)="pre_next('p')">
      <<
    </button>
    <button type="button" class="btn btn-primary" (click)="pre_next('n')">
      >>
    </button>
  </div>
  <div
    class="col-12"
    *ngIf="_dbPage._pgcepe != null"
    [class]="{ 'd-none': sh != 'All' }"
  >
    <table>
      <tr>
        <td>
          <h5 class="me-4">
            <b> Time :-{{ formatTime(ob(_dbPage._pgcepe)[0].date) }}</b>
          </h5>
        </td>
        <td>
          <h5>
            <b
              >Underlying Value :-{{
                ob(_dbPage._pgcepe)[0]?.filtered?.data[0]?.CE
                  ?.underlyingValue || "_____"
              }}</b
            >
          </h5>
        </td>
      </tr>
    </table>

    <div class="db_chart">
      <canvas id="acquisitions2"></canvas>
    </div>

    <div class="db_chart">
      <canvas id="acquisitions3"></canvas>
    </div>
  </div>
  <div
    class="col-12"
    *ngIf="_dbPage._strike != null"
    [class]="{ 'd-none': sh != 'strike' }"
  >
    <canvas id="acquisitions4"></canvas>
    <canvas id="acquisitions5"></canvas>
  </div>
</div>
