<div
  class="row"
  *ngIf="{
    dt: data.dt$ | async,
    allIndices: data.allIndices$ | async
  } as _data"
>
  <div class="col-md-6 col-lg-6" *ngIf="_data.allIndices != null">
    <select
      class="form-select form-select-sm"
      aria-label=".form-select-sm example"
      [(ngModel)]="data.selected"
      (change)="h_selected_change(data)"
    >
      <option selected>--Selete--</option>
      <option [value]="i.index" *ngFor="let i of ob(_data.allIndices).data">
        {{ i.index }}
      </option>
    </select>
  </div>

  <div class="col-md-6 col-lg-6">
    <button
      type="button"
      class="btn btn-sm btn-danger me-2"
      (click)="h_selected_change(data)"
    >
      <i class="fa-solid fa-arrows-rotate"></i>
    </button>
  </div>
  <div class="col-12">
    <div id="container"></div>
  </div>
  <div class="col-12" *ngIf="_data.allIndices != null">
    <table class="table table-sm table-striped table-hover mt-2">
      <thead class="header-fixed bg">
        <tr>
          <th>index</th>
          <th>advances/declines</th>
          <th>pe</th>
          <th>pb</th>
          <th>percentChange</th>
          <th>yearLow</th>
          <th>last</th>
          <th>yearHigh</th>
          <th>chartTodayPath</th>
          <th>chart30dPath</th>
          <th>chart365dPath</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of ob(_data.allIndices).data">
          <td
            [class]="{
              'text-danger': i.open > i.last,
              'text-success': i.open < i.last
            }"
          >
            {{ i.index }}
          </td>
          <td>
            {{ i.advances || 0 }}
            / {{ i.declines || 0 }}
          </td>
          <td>{{ i.pe }}</td>
          <td>{{ i.pb }}</td>

          <td>{{ i.percentChange }}</td>
          <td>{{ i.yearLow }}</td>
          <td>{{ i.last }}</td>
          <td>{{ i.yearHigh }}</td>

          <td><img [src]="i.chartTodayPath" [title]="i.percentChange" /></td>
          <td><img [src]="i.chart30dPath" [title]="i.perChange30d" /></td>
          <td><img [src]="i.chart365dPath" [title]="i.perChange365d" /></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--
{
    "key": "BROAD MARKET INDICES",
    "index": "NIFTY 50",
    "indexSymbol": "NIFTY 50",
    "last": 17770.9,
    "variation": -85.6,
    "percentChange": -0.48,
    "open": 17859.1,
    "high": 17880.7,
    "low": 17719.75,
    "previousClose": 17856.5,
    "yearHigh": 18887.6,
    "yearLow": 15183.4,
    "pe": "21.05",
    "pb": "4.16",
    "dy": "1.42",
    "declines": "34",
    "advances": "16",
    "unchanged": "0",
    "perChange365d": 2.77,
    "date365dAgo": "11-Feb-2022",
    "chart365dPath": "https://static.nseindia.com/sparklines/365d/NIFTY-50.jpg",
    "date30dAgo": "13-Jan-2023",
    "perChange30d": -0.56,
    "chart30dPath": "https://static.nseindia.com/sparklines/30d/NIFTY-50.jpg",
    "chartTodayPath": "https://static.nseindia.com/sparklines/today/NIFTY-50.jpg",
    "previousDay": 17893.45,
    "oneWeekAgo": 17764.6,
    "oneMonthAgo": 17956.6,
    "oneYearAgo": 17374.75
}-->
<!--
chart30dPath
:
"https://static.nseindia.com/sparklines/30d/NIFTY-50.jpg"
chart365dPath
:
"https://static.nseindia.com/sparklines/365d/NIFTY-50.jpg"
chartTodayPath
:
"https://static.nseindia.com/sparklines/today/NIFTY-50.jpg"
-->
