/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Poppins", sans-serif;
  // font-family: 'Fira Code', monospace;
  // font-family: 'JetBrains Mono', monospace;

  font-size: 0.7rem;
  font-weight: 500 !important;
}
.fw-semibold {
  font-weight: 500 !important;
}
.b10 {
  background: linear-gradient(
      45deg,
      #0000 calc(25% / 3),
      #ffffff 0 calc(50% / 3),
      #0000 0 calc(250% / 3),
      #ffffff 0 calc(275% / 3),
      #0000 0
    ),
    linear-gradient(
      45deg,
      #ffffff calc(25% / 3),
      #0000 0 calc(50% / 3),
      #ffffff 0 25%,
      #0000 0 75%,
      #ffffff 0 calc(250% / 3),
      #0000 0 calc(275% / 3),
      #ffffff 0
    ),
    linear-gradient(
      -45deg,
      #0000 calc(25% / 3),
      #ffffff 0 calc(50% / 3),
      #0000 0 calc(250% / 3),
      #ffffff 0 calc(275% / 3),
      #0000 0
    ),
    linear-gradient(
        -45deg,
        #ffffff calc(25% / 3),
        #0000 0 calc(50% / 3),
        #ffffff 0 25%,
        #0000 0 75%,
        #ffffff 0 calc(250% / 3),
        #0000 0 calc(275% / 3),
        #ffffff 0
      )
      #f8f8f8;
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
.b11 {
  background: repeating-linear-gradient(
      45deg,
      #0000 calc(-650% / 13) calc(50% / 13),
      #ffffff 0 calc(100% / 13),
      #0000 0 calc(150% / 13),
      #ffffff 0 calc(200% / 13),
      #0000 0 calc(250% / 13),
      #ffffff 0 calc(300% / 13)
    ),
    repeating-linear-gradient(
        45deg,
        #0000 calc(-650% / 13) calc(50% / 13),
        #ffffff 0 calc(100% / 13),
        #0000 0 calc(150% / 13),
        #ffffff 0 calc(200% / 13),
        #0000 0 calc(250% / 13),
        #ffffff 0 calc(300% / 13)
      )
      15px 15px,
    repeating-linear-gradient(
      -45deg,
      #0000 calc(-650% / 13) calc(50% / 13),
      #ffffff 0 calc(100% / 13),
      #0000 0 calc(150% / 13),
      #ffffff 0 calc(200% / 13),
      #0000 0 calc(250% / 13),
      #ffffff 0 calc(300% / 13)
    ),
    repeating-linear-gradient(
        -45deg,
        #0000 calc(-650% / 13) calc(50% / 13),
        #ffffff 0 calc(100% / 13),
        #0000 0 calc(150% / 13),
        #ffffff 0 calc(200% / 13),
        #0000 0 calc(250% / 13),
        #ffffff 0 calc(300% / 13)
      )
      15px 15px #f7f7f7;
  background-size: 30px 30px;
}
// .table-sm>:not(caption)>*>* {
//     padding: 0rem 0rem;
// }
//   table {
//         width: 100%;
//         border-collapse: collapse;
//       }
.bg {
  color: #ffffff;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
// thead {
//   position: sticky;
//   top: 0; /* Don't forget this, required for the stickiness */
//   color: #ffffff;
// }
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("./assets/img/loda2.gif") 50% 50% no-repeat #00000070;
}
